<head>
  <title>Tabla de Libros</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Referencia</th>
        <th>Autor</th>
        <th>Precio</th>
        <th>Ubicación</th>
      </tr>
    </thead>
    <tr>
      <div *ngFor="let libro of libros">
        <td>{{libro.title}}</td>
        <td>{{libro.referencia}}</td>
        <td>{{libro.autor}}</td>
        <td>{{libro.precio}}</td>
        <td>{{libro.ubicacion}}</td>
      </div>

    </tr>
  </table>
  <button (click)="Listar()">Listar</button>
  <button (click)="Insertar()">Insertar</button>
</body>
